In [1]:
import requests
from bs4 import BeautifulSoup
from requests import api
from requests.api import head
import csv
import pandas as pd
import numpy as np


url = 'https://www.crunchbase.com/organization/y-combinator'
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "Accept-Language": "en-US,en;q=0.5", "Accept-Encoding": "gzip, deflate", "DNT": "1", "Connection": "close", "Upgrade-Insecure-Requests": "1"}

response = requests.get(url, headers=headers)
html_content = response.content
soup = BeautifulSoup(html_content, 'html.parser')

soup1 = soup.find('div', class_= 'section-content')
soup2 = soup.find_all('anchored-values', class_='ng-star-inserted')
soup3 = soup.find('timeline-card', class_='ng-star-inserted')
soup4 = soup.find('div', class_='mat-tab-links')

# <--------------------------------------** Invesment **------------------------------------------------------>

In [2]:
ab_about = []
for i in soup1:
    about = i.find_next('span', class_="description")
    if about != []:
        p1 = about.text
        ab_about.append(p1)
        continue                        #done

about_list1 = ab_about[1:2]


# orgnization_list1.pop(10)
# orgnization_list1

df_about = pd.DataFrame(about_list1, columns = ["About"])
df_about.head()

                                               About
0  Y Combinator is a startup accelerator that inv...

In [3]:
ab_location = []
for i in soup1:
    location = i.find_next('field-formatter', class_='ng-star-inserted')
    if location != None:
        p2 = location.text      #done
        ab_location.append(p2)
        continue

location_list1 = ab_location[1:2]

# orgnization_list1.pop(10)
# orgnization_list1

df_location = pd.DataFrame(location_list1, columns = ["Location"])
# print(type(df_location))
df_location

                                    Location
0   Mountain View, California, United States

In [4]:
ab_link = []
for i in soup1:
    link = i.find('link-formatter', class_='ng-star-inserted')  
    if link != None:
        p3 = link.text         # Done
        ab_link.append(p3)
        continue

df_link = pd.DataFrame(ab_link, columns = ["Link"])
# print(type(df_link))
df_link

                    Link
0   www.ycombinator.com

In [11]:
ab_rank = []
for i in soup1:
    rank = i.find('a', class_="component--field-formatter field-type-integer link-accent ng-star-inserted")
    if rank != None:
        p4 = rank.text 
        ab_rank.append(p4)
        continue                                 # done

df_rank = pd.DataFrame(rank, columns = ["Rank"])
# print(type(df_rank))
df_rank

  Rank
0    9

In [12]:
summ = []
for j in soup2:
    summary = j.find_all_next('span', class_="component--field-formatter field-type-integer ng-star-inserted")
    for j in summary:                                     # done
        p1 = j.text
        summ.append(p1)
        continue
location_list1 = summ[0:5]
# location_list1
df_financial = pd.DataFrame(np.array(location_list1).reshape(-1,5), columns = ["Founders(alumni)", "Investment", "Exits", "Contact", "Employee Porfile"])
df_financial

  Founders(alumni) Investment Exits Contact Employee Porfile
0               50      3,936   375      90               64

In [13]:
all_data = [df_financial, df_rank, df_link, df_location, df_about]
result = pd.concat(all_data, axis=1)
result

,Founders(alumni),Investment,Exits,Contact,Employee Porfile,Rank,Link,Location,About
0,50,"3,936",375,90,64,9,www.ycombinator.com,"Mountain View, California, United States",Y Combinator is a startup accelerator that inv...

In [66]:
result.to_csv("F:/vs code/tutorials/csv file/ycombinato_.csv", index=False)